.delivery-page {
    .delivery-cont, .return-cont {
        margin-bottom: 2rem;
        h1 {
            margin-bottom: 1.5rem;
        }

        p {
            font-size: 1.5rem;
        }
    }
}