.footer {
    background-color: #fff;
    color: #000;
    // height: 20rem;
    padding: 0 10rem 10rem 10rem;
    margin-top: 10rem;
    width: 100%;

    &__logo {
        margin-bottom: 3rem;

        a {
            color: inherit;
            -moz-transition: all .3s ease;
            -o-transition: all .3s ease;
            -ms-transition: all .3s ease;
            transition: all .3s ease;

            &:hover {
                color: #999;
            }
        }
    }

    &__link-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    &__links {
        list-style: none;
    }

    &__link {
        margin-bottom: .5rem;

        a {
            color: #999;
            font-size: 1.2rem;
            text-decoration: none;
            -moz-transition: all .3s ease;
            -o-transition: all .3s ease;
            -ms-transition: all .3s ease;
            transition: all .3s ease;

            &:hover {
                color: #000;
            }
        }
    }

    .social__links {
        display: inline-block;
        margin-right: 2rem;

        a {
            font-size: 1.8rem;
        }
    }

    &__link-heading {
        font-size: 1.3rem;
        margin-bottom: 1.3rem;
        letter-spacing: .1rem;
        text-transform: uppercase;
    }

    &__signup-form {

        &__input {
            border: none;
            background-color: #eee;
            font-family: 'Roboto', sans-serif;
            height: 5rem;
            padding: 1.6rem;
            width: 90%;

            &:focus, &:active {
                outline: none;
            }
        }
    }

    @include respond(lg-screen) {
        &__link-container {
            gap: 2rem;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @include respond(md-screen) {

        &__link-container {
            
            align-items: space-between;
            display: flex;
            flex-direction: column;
        }

        &__link-col {
            margin-bottom: 1.5rem;
        }
        
        padding: 0 2rem;

    }

}